body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    padding-top: 149px;
    padding-bottom: 33px;
    background: url(./img/bcg.jpg);
    background-size: cover;
     margin: 0 auto;    
}

.call {
    color: #e76122;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.adress {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #ceced0; 
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.social__list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.social__item {
    list-style: none;
    text-align: center;
}

.pinterest {
    padding-top: 5px;
    width: 40px;
    height: 40px;
}

.send {
    color: #e76122;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

.discription-wrapper {
    max-width: 770px;
    margin: 0 auto;
}

.discription {
    color: #ceced0; 
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 770px;
    margin: 0 auto;
    padding-top: 15px;
}

.left__btn {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 370px;
    color: #777777;
    background-color: #fff;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.right__texarea {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 370px;
    height: 91%;
    color: #777777;
    background-color: #fff;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.learn-more {
    display: flex;
    padding: 17px 35px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background: #5dbdb1;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 7px auto;
    outline: none;
    border: none;
    transition: .4s;
}

.learn-more:hover {
    cursor: pointer;
    background: #36a094;
    color: #e76122;
}

.underline {
    justify-content: center;
    width: 880px;
    height: 10px;
    background: url(./img/Shape-62-copy-8.jpg) no-repeat;
    margin: 112px auto 15px auto;
  
}

.text-bottom {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
}

.text-bottom span {
    font-size: 10px;
    vertical-align: top;
}

.upp {
    display: flex;
    background: url(./img/Без-имени-1.jpg) no-repeat;
    margin: 0 auto;
    outline: none;
    border: none;
    width: 15px;
    height: 20px;
    transition: .4s;
}

.upp:hover {
    cursor: pointer;
    opacity: .8;
}

@media (max-width: 840px) {
    .form {
        display: flex;
        flex-direction: column;
   }
   .form__left, .form__right {
    margin: 0 auto;
   }
    .right__texarea {
        height: 150px;
        margin: 0 auto;
    }
    .underline {
        width: 600px;
    }
}

@media (max-width: 380px) {
    .container {
        background: rgb(65, 75, 85);
    }
    .call {
        font-size: 25px;
    }
    .send {
        font-size: 20px;
    }
    .form {
        width: 100%;
        padding: 4px;
    }
    .left__btn {
        width: 320px;
    }
    .right__texarea {
        width: 320px;
        height: 100px;
    }
    .underline {
        width: 300px;
    }
}
